.result .imgbox {
	width: 200px;
}

.result .imgbox,
.result .content {
	height: 131px;
	vertical-align: top;
}

.resultList .result {
	height: 161px;
}

.result .imgbox img {
	width: 200px;
	height: 131px;
	border-radius: 6px;
}

.resultList .result {
	clear: left;
	border-bottom: 1px dashed #DFDFDF;
	padding-bottom: 30px;
}

.resultList .result dl {
	width: 920px;
}

.resultList .result dt {
	font-size: 12px;
	color: #4A4A4A;
	margin-bottom: 0;
}

.resultList .result dd.tGrey {
	font-size: 12px;
	color: #1A1A1A;
	height: auto;
	padding-bottom: 30px;
}

.resultList .result dd p {
	font-size: 12px;
	line-height: 20px;
	color: #4A4A4A;
}

.resultList>.result:last-child {
	border-bottom: none;
}

.newsQA {
	padding: 0;
}

.newsQA h3 {
	font-size: 0.7rem;
	color: #1A1A1A;
	line-height: 0.75rem;
	font-weight: bold;
	margin-top: 1.25rem;
}

.qa>p {
	line-height: 22px;
	margin-bottom: 10px;
}

.qa>p:last-child {
	margin-bottom: 0px;
}

.newsQA p i {
	vertical-align: middle;
	font-size: 0.95rem;
	margin-right: 0.25rem;
}

.newsQA .qa {
	padding: 0.75rem 0;
	border-bottom: 0.025rem dashed #DFDFDF;
}

.newsQA .qa:last-child {
	border-bottom: none;
	/*margin-bottom: 100px;*/
}

.newsTop .showinfo span:not(:nth-of-type(1)) {
	padding-left: 74px;
}

.educationInfo .newsQA {
	margin-top: -1.5rem;
}

.artTop h2 {
	margin-bottom: 20px;
}

.artTop .inf {
	padding-bottom: 0.5rem;
	line-height: 1.7;
	max-height: 270px;
	overflow: hidden;
}

.artTop .inf+.inf {
	padding-top: 0.5rem;
}

.artTop .inf:nth-child(5) {
	border-bottom: 1px dashed #DFDFDF;
	;
}

.artTop .inf i {
	display: block;
	font-weight: bold;
}

.artTop .or {
	padding-top: 0.75rem;
	border-top: 1px dashed #DFDFDF;
}

.artTop .or .orcode {
	position: static;
	display: inline-block;
	margin-right: 0.5rem;
}

ul.artFace li:not(:last-child) {
	margin-bottom: 1rem;
}

ul.artFace li:first-child {
	height: 9.75rem;
}

ul.artFace li:first-child img {
	max-height: 100%;
	max-width: 100%;
}

ul.artFace h4 {
	font-weight: bold;
	font-size: 0.6rem;
	color: #1A1A1A;
	margin-bottom: 0.5rem;
}

ul.artFace h4:before {
	content: "";
	border-color: #000 transparent transparent transparent;
	border-width: 0.375rem 0.35rem 0.35rem 0;
	border-style: solid;
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	margin-right: 0.125rem;
}

ul.artFace dt,
ul.artFace dd {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.54rem;
}

ul.artFace dt {}

ul.artFace dd {
	width: calc(100% - 2rem);
}

ul.artFace dt img {
	width: 1.35rem;
	height: 1.35rem;
	border-radius: 100%;
	margin-right: 0.3rem;
}

ul.artFace dd b {
	line-height: 1.8;
}

ul.artFace dl {
	margin-top: 0.75rem;
}

ul.artFace .info {
	margin-top: 0.75rem;
	padding-top: 0.75rem;
	line-height: 1.8;
	border-top: 1px dashed #DFDFDF;
}

.artInfo h5 {
	font-weight: bold;
	font-size: 0.7rem;
	padding: 0.75rem 0;
}

.artInfo h5+.newsText {
	padding: 0 0;
}

.artInfo h5.bg {
	background: url(../img/line.jpg) no-repeat -30px 52px;
	padding-left: 0;
	margin-left: 0;
}

.artInfo h5 span {
	display: inline-block;
	background: #FFFFFF;
}

.academicEvents {
	margin-top: 0;
}

.ticketInfo .newsTop {
	padding: 0;
}

.countBox .btn-numbox:nth-child(2) {
	border-top: 1px solid #1A1A1A;
	margin-top: 0.75rem;
}
.ticketPage .btn-numbox {
	overflow: hidden;
	/*margin-top: 0.75rem;*/
	/*border-top: 1px solid #1A1A1A;*/
	padding-top: 0.75rem;
}

.ticketPage .btn-numbox li {
	float: left;
}

.ticketPage .btn-numbox li.label {
	width: 4rem;
	padding: 0.96rem 0 0;
	text-align: left;
}
.ticketPage .btn-numbox .label .number:not(:only-child) {
	display: block;
	margin-top: -4px;
}
.ticketPage .btn-numbox .label b {
	display: block;
	color: #999999;
	margin-top: 2px;
    font-size: 0.62rem;
    font-weight: normal;
}
.ticketPage .btn-numbox>li:last-child {
	width: calc(100% - 4rem);
	text-align: right;
}

.ticketPage .btn-numbox .price {
	display: inline-block;
	padding-top: 0.75rem;
	padding-right: 0.5rem;
	font-size: 0.7rem;
}

.ticketPage .btn-numbox li .number {
	display: inline-block;
	font-size: 0.7rem;
	color: #1A1A1A;
}

.ticketPage .btn-numbox .count {
	overflow: hidden;
	display: inline-block;
}

.ticketPage .btn-numbox .count.initial .num-jian,
.ticketPage .btn-numbox .count.initial .input-num,
.ticketPage .btn-numbox .count.initial .num-jia,
.ticketPage .btn-numbox .count .num-jian:active,
.ticketPage .btn-numbox .count .num-jia:active {
	border-color: #dddddd;
	background-color: #dddddd;
	color: #777777;
}

.ticketPage .btn-numbox .count.initial .num-jian {
	width: 0.5rem;
}

.ticketPage .btn-numbox .count .num-jian,
.ticketPage .input-num,
.ticketPage .num-jia {
	display: inline-block;
	width: 2.2rem;
	height: 2.4rem;
	line-height: 2.1rem;
	text-align: center;
	font-size: 1rem;
	color: #FFFFFF;
	cursor: pointer;
	border: 1px solid #777777;
	background: #777777;
	font-family: Helvetica, sans-serif;
}

.ticketPage .btn-numbox .count .input-num {
	height: 2.4rem;
	width: 1.3rem;
	font-size: 0.75rem;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	box-shadow: none!important;
	-webkit-box-shadow:none!important;
	border-top: none;
}

.ticketPage .btn-numbox .count .num-jian {
	border-radius: 0.25rem 0 0 0.25rem;
}

.ticketPage .btn-numbox .count .num-jia {
	border-radius: 0 0.25rem 0.25rem 0;
}

.ticketPage .tickIntro {
	background-color: #F6F6F6;
	color: #333333;
	margin: 0.75rem -0.75rem 0.75rem;
	padding: 0 0.75rem 0.75rem;
}
.ticketPage .tikInfo {
    background-color: #F6F6F6;
	margin: 0 -0.75rem 0.5rem;
	padding:  0.75rem;
	font-size: 0;
}.countBox {
	margin: 0 -0.75rem 0.5rem;
	background-color: #FFFFFF;
	margin: 0 -0.75rem -0.25rem;
	padding: 1rem 0.75rem;
}
.ticketPage .tikInfo .img {
	display: inline-block;
	width: 3rem;
}
.ticketPage .tikInfo .img img {
	max-width: 100%;
}
.ticketPage .tikInfo .text {
	display: inline-block;
	vertical-align: middle;	
	text-align: right;
     width: calc(100% - 3.5rem);
    margin-left:0.5rem;
}
.ticketPage .tikInfo .tit {
	font-weight: bold;
	font-size: 0.7rem;
	line-height: 1;
	padding-bottom: 0.4rem;
}
.ticketPage .tickIntro .title {
	background-color: #1A1A1A;
	color: #FFFFFF;
	margin: 0 -0.75rem 0.5rem;
	padding: 0.35rem 0.75rem;
}

.ticketPage .total span {
	font-size: 0.7rem;
	display: inline-block;
	padding-top: 0.25rem;
}
.ticketPage  #confirmTicket {
	padding-left: 1.55rem;
	padding-right: 1.55rem;
}
.ticket-container .tabs-nav {
	font-size: 0;
    height: 2.25rem;
    border-radius: 0.2rem;
}
.ticket-container .tabs-nav.fix {
    border-radius: 0;
    padding-top: 0rem;
}
.ticket-container .tabs-nav>a {
    height: 1.8rem;
    }
.ticket-container .tabs-nav a {
	width: 33.33%;
	margin: 0;
}
.ticket-container .tabs-nav>a:after {
      content: none;
}
.ticket-container .tabs-nav font {
	position: relative;
	display: inline-block;
	height: 100%;
	line-height: 2.2rem;
	font-size: 0.65rem;
    font-weight: 400;	
}
.ticket-container .tabs-nav a.on font:after {
    width: 100%;
}
.ticket-container .tabs-nav font:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: #2196f3;
    left: 0;
    bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    transform: scaleY(0.5);
}
.ticketlist .tick {
	cursor: pointer;
	margin-bottom: 0.8rem;
}
.ticketlist .tick .header {
	height: 3.5rem;
}

#ticket0 .ticketlist .tick {
	border: 1px solid #EFE3E3;
	background: #FDF5F3;
}
#ticket0 .ticketlist .tick .header,
#ticket0 .ticketlist .tick .body {
	border-bottom: 1px solid #EFE3E3;
}
.ticketlist .tick .body {
	padding: 0.7rem 1rem;
	background: #FFFFFF;
	color: #616161;
}
.ticketlist .tick .btn-box {
	height: 1.7rem;
	margin: 0.5rem -0.375rem 0;
}
.ticketlist .tick .btn {
	width: calc(50% - 0.75rem);
	float: left;
	margin: 0 0.375rem;
	border-radius: 0;
}
.ticketlist .tick .btn.btn-white2 {
	background-color: #FFFFFF;
}
.tick label {
	font-weight: normal;
}
#ticket1 .ticketlist .tick,
#ticket2 .ticketlist .tick {
	border: 1px solid #DFDFDF;
	background: #F8F8F8;
	position: relative;
}
#ticket1 .tick .btn.btn-red,
#ticket2 .tick .btn.btn-red {
	background-color: #333;
}
#ticket1 .ticketlist .tick:after,
#ticket2 .ticketlist .tick:after {
	content: "";
	position: absolute;
	height: 3rem;
	width: 2rem;
	right: 0;
	top: 0;
	background: url(../img/ticket/ticket1.png) right top no-repeat;
	background-size: contain;
}
#ticket2 .ticketlist .tick:after {
	background: url(../img/ticket/ticket2.png) right top no-repeat;
	background-size: contain;
}
#ticket1 .ticketlist .tick .header,
#ticket2 .ticketlist .tick .header,
#ticket1 .ticketlist .tick .body,
#ticket2 .ticketlist .tick .body {
	border-bottom: 1px solid #DFDFDF;
}
.ticketlist .tick .sub,
.ticketlist .tick .tit {
	float: left
}
.ticketlist .tick .sub {
	width: 5rem;
	height: 100%;
	padding: 0.55rem ;
	text-align: center;
}
.tick .sub>div {
	background-position: center;
	background-repeat: no-repeat;
	height: 3rem;
	width: 100%;
	background-size: contain;
}
.tick .sub h1 {
	font-size: 1.05rem;
	font-weight: bold;
	font-family: Georgia;
	line-height: 1.4;
}
.tick .sub h2 {
	font-size: 0.52rem;
}
#ticket0 .tick h1,
#ticket0 .tick h2 {
	color: #E51438;
}
#ticket1 .tick h1,
#ticket1 .tick h2,
#ticket2 .tick h1,
#ticket2 .tick h2, {
	color: #3D3D3D;
}
#ticket0 .sub>div {
	background-image: url(../img/ticket/free0.png);
}
#ticket1 .sub>div,
#ticket2 .sub>div  {
	background-image: url(../img/ticket/free1.png);
}
.ticketlist .tick .tit {
	width: calc(100% - 5rem);
	height: 3.5rem;
	overflow: hidden;
	font-weight: bold;
	padding-right: 0.5rem;
}
#ticket0 .tick .tit,
#ticket2 .tick .tit {
	line-height: 3.5rem;
}
#ticket1 .tick .tit {
	padding-top: 0.8rem;
}
.ticketlist .tick .tit p{
	font-size: 0.7rem;
	max-height: 2.2rem;
	overflow: hidden;
    display:inline-block;
    line-height: 1.5;
    vertical-align: middle;
}
#ticket1 .tick .tit p {
	width: 100%;
	max-height: 1.1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#ticket1 .ticketlist .tick .tit p,
#ticket2 .ticketlist .tick .tit p {
	color: #3D3D3D;
}
#ticket1 .tick .tit span {
	color: #A9A9A9;
	font-weight: bold;
}
.ticketlist .tick .footer {
	min-height: 1rem;
	font-size: 0.52rem;
	color: #616161;
	padding: 0 0.5rem;
	line-height: 0.95rem;
    overflow-y: auto;
}
#ticket1 .tick .footer,
#ticket2 .tick .footer {
	color: #999;
}
.ticketlist .tick .footer .date {
	float: left;
	width: 7rem;
}
.ticketlist .tick .footer .xzl {
	float: right;
	width: calc(100% - 7rem);
	text-align: right;
	 display:-webkit-box;

-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
}
.tick-result {
	background: #F5F5F5;
}
.tick-result .resultBox {
	background: #FFFFFF;
	padding: 2rem 0;
}
.tick-result .resultBox img {
	width: 3.5rem;
}
.tick-result p {
	font-size: 0.65rem;
	text-align: center;
	padding: 1rem 1rem 0;
}
.tick-result p:only-child {
	padding: 0 1rem 0;
}
.tick-result p a {
	color:#E51438;
	text-decoration: underline;
	margin: 0 0.125rem;
}
.orLayer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	text-align: center;
	padding-top: 3.6rem;
}
.orLayer a.close {
	font-size: 1.5rem;
	color: #FFFFFF;
	font-weight: normal;
	position: absolute;
	right: 0;
	top: 0;
}
.orLayer img{
	width: 86%;
	margin: 0 auto;
}
.orLayer h1 {
	color: #FFFFFF;
	font-size: 0.8rem;
	margin-bottom: 1rem;
}
.orLayer h2 {
	color: #FFFFFF;
	font-size: 0.6rem;
	margin-top: 1rem;
}

.ticketPage .total {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.5rem 0.75rem;
	z-index: 10;
	background: #FFFFFF;
	box-shadow: 0.05rem 0.05rem 0.6rem rgba(0, 0, 0, 0.2);
}
/**20190530**/
.ticket-layer {
	background:#FFFFFF;
	position: fixed;
	bottom: 0;
	padding: 1.2rem 0.7rem 1rem;
	width: 100%;
	z-index: 10605;
}
.ticket-layer h4 {
	font-size: 0.7rem;
	font-weight: normal;
	color: #000000;
	margin-bottom: 0.75rem;
}
.ticket-layer .tick-type .type {
	background: #efefef;
	border-radius: 5px;
	padding: 0.45rem 0.65rem;
	margin: 0.5rem 0;
	position: relative;
}
.ticket-layer .tick-type .type::after {
	content: "";
	display: block;
	position: absolute;
	border:1px solid #585858;
	border-left: none;
	border-bottom: none;
	height: 0.4rem;
	width: 0.4rem;
	right: 0.65rem;
	top: 50%;
	margin-top: -0.2rem;
	transform: rotate(45deg);
}
.ticket-layer .tick-type .type h5 {
	display: inline-block;
	font-weight: normal;
	font-size: 0.8rem;
}
.ticket-layer .tick-type .type b {
	font-weight: normal;
	color: #333333;
	padding-left: 0.4rem;
}
.ticket-layer .tick-type .type font {
	float: right;
	font-size: 0.8rem;
	line-height: 0.92rem;
	margin-right: 0.65rem;
	color: #da0e0e;
	font-weight: 600;
}
.ticket-layer .tick-type .type font::before {
	content: "¥";
}
.calender-box {
    text-align: center;
    padding: 0.5rem 0 1rem;
}
.calender-box .layui-laydate {
	font-size: 0.75rem;
}
.calender-box .layui-laydate-footer span {
	font-size: 0.75rem;
    height: 1.2rem;
    line-height: 1rem;
    margin: 0 0 0 -1px;
    padding: 0 0.8rem;
}
.calender-box .laydate-set-ym {
	font-size: 0.85rem;
}
.calender-box .layui-laydate-footer {
	height: 2.2rem;
    line-height: 2rem;
}
.calender-box .no-ticket {
	background: #ff0000!important;
    color: #ffffff!important;
}
.calender-box .laydate-day-mark::after {
     background-color: #FF0000; 
}
.calender-box  span.laydate-day-mark{
	color: #FF0000;
}
.calender-box .layui-laydate-static {
	width: 100%;
}
.calender-box .laydate-theme-molv .layui-laydate-main,
.calender-box table {
	width: 100%;
}
