.result .imgbox {
	width: 200px;
}

.result .imgbox,
.result .content {
	height: 131px;
	vertical-align: top;
}

.resultList .result {
	height: 161px;
}

.result .imgbox img {
	width: 200px;
	height: 131px;
	border-radius: 6px;
}

.resultList .result {
	clear: left;
	border-bottom: 1px dashed #DFDFDF;
	padding-bottom: 30px;
}

.resultList .result dl {
	width: 920px;
}

.resultList .result dt {
	font-size: 12px;
	color: #4A4A4A;
	margin-bottom: 0;
}

.resultList .result dd.tGrey {
	font-size: 12px;
	color: #1A1A1A;
	height: auto;
	padding-bottom: 30px;
}

.resultList .result dd p {
	font-size: 12px;
	line-height: 20px;
	color: #4A4A4A;
}

.resultList>.result:last-child {
	border-bottom: none;
}

.newsQA {
	padding: 0;
}

.newsQA h3 {
	font-size: 0.7rem;
	color: #1A1A1A;
	line-height: 0.75rem;
	font-weight: bold;
	margin-top: 1.25rem;
}

.qa>p {
	line-height: 22px;
	margin-bottom: 10px;
}

.qa>p:last-child {
	margin-bottom: 0px;
}

.newsQA p i {
	vertical-align: middle;
	font-size: 0.95rem;
	margin-right: 0.25rem;
}
.newsQA .qa {
	padding: 0.75rem 0;
	border-bottom: 0.025rem dashed #DFDFDF;
}

.newsQA .qa:last-child {
	border-bottom: none;
	/*margin-bottom: 100px;*/
}
.newsTop .showinfo span:not(:nth-of-type(1)){
	padding-left: 74px;
}
.educationInfo .newsQA {
	margin-top: -1.5rem;
}
.artTop h2 {
    margin-bottom: 20px;
}
.artTop .inf {
	padding-bottom: 0.5rem;
    line-height: 1.7;
    max-height: 270px;
    overflow: hidden;
}
.artTop .inf+.inf {
	padding-top: 0.5rem;
}
.artTop .inf:nth-child(5) {
	border-bottom: 1px dashed #DFDFDF; ;
}
.artTop .inf i {
	display: block;
	font-weight: bold;
}
.artTop .or {
	padding-top: 0.75rem;
	border-top: 1px dashed #DFDFDF;
}
.artTop .or .orcode  {
	position:static;	
     display: inline-block;
     margin-right: 0.5rem;
}
ul.artFace li:not(:last-child) {
	margin-bottom: 1rem;
}
ul.artFace li:first-child {
	height: 9.75rem;
}
ul.artFace li:first-child img {
	max-height: 100%;
	max-width: 100%;
}
ul.artFace h4 {
	font-weight: bold;
	font-size: 0.6rem;
	color: #1A1A1A;
	margin-bottom: 0.5rem;
}
ul.artFace h4:before {
	content: "";
	border-color: #000 transparent transparent  transparent;
	border-width: 0.375rem 0.35rem 0.35rem 0;
	border-style: solid;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-right: 0.125rem;
}
ul.artFace dt,
ul.artFace dd {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.54rem;
}
ul.artFace dt {
}
ul.artFace dt img {
	width: 1.35rem;
	height: 1.35rem;
	border-radius: 100%;
	margin-right: 0.375rem;
}
ul.artFace dd b {
      line-height: 1.8;
}
ul.artFace dl {
	margin-top: 0.75rem;
}
ul.artFace .info {
	margin-top:  0.75rem;
	padding-top:  0.75rem;
	line-height: 1.8;
	border-top: 1px dashed #DFDFDF;
}
.artInfo h5 {
	font-weight: bold;
	font-size: 0.7rem;
	padding:  0.75rem 0;
}
.artInfo h5 + .newsText {
      padding: 0 0;
}
.artInfo h5.bg {
      background: url(../img/line.jpg) no-repeat -30px 52px;
    padding-left: 0;
    margin-left: 0;
}
.artInfo h5 span {
	display: inline-block;
	background: #FFFFFF;
}
.academicEvents {
	margin-top: 0;
	}
