.logo-xzl {
	position: fixed;
	top: 1.4rem;
	left: 1.4rem;
	width: 4.5rem;
	height: 1.25rem;
	z-index: 5;
}
.logo-xzl img {
	width: 100%;
	height: 100%;
}
.swiper-container.recruitment {
    width: 100%;
    height: 100%;
    background-image: url(../img/member/bg.png);
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 7rem;
}
.swiper-pagination-bullet {
    opacity: 0.5;
	background: #FFFFFF;
	box-shadow: 1px 1px 4px #888888;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #FFFFFF;
}
.alpha-layer {
	background: rgba(0,0,0,0.59);	
}
.joinMember {
	position: absolute;
	bottom: 3rem;
	left: 0;
	right: 0;
    z-index: 5;
}
.page-form .content{
	padding: 0 1.3rem;
}
.recruitment h1 {
	font-size: 1.15rem;
	color: #FFFFFF;
	margin-top: 5.55rem;
	font-weight: 400;
}
.recruitment h4 {
	font-size: 0.6rem;
	color: #FFFFFF;
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
    text-align: center;
}
.page-form .list-block {
    margin: 0 0 1.75rem;
}
.page-form .list-block ul {
    background: transparent;
}
.page-form .list-block li {
	height: 2.275rem;
	border-radius: 0.18rem;
	margin-top: 0.7rem;
    background: #FFFFFF;
    font-size: 0.75rem;
}
.page-form .list-block .item-content,.page-form .list-block .item-inner {
    min-height: 2.275rem;
}
.page-form .list-block .item-inner:after,.page-form .list-block ul:after,
.page-form .list-block ul:before {
	content: none;
}
.page-form .list-block .item-title.label {
    width: 20%;
}
.page-form input::-webkit-input-placeholder{
    color:rgba(0,0,0,0.36);
}
.page-form input {
	text-align: right;
}

/**page 1**/
.img1-1 {
	top: 5.5rem;
	left: 1.4rem;
	width: 12.625rem;
	height: 8.6rem;
}
.img1-1 img,
.img1-2 img {
	width: 100%;
}
.img1-2 {
	top: 14rem;
	left: 1.4rem;
	width: 14rem;
	height: 3.15rem;
}
.text1-1 {
	left: 1.4rem;
	top: 17.5rem;
}
.text1-1 span.bgRed {
	padding: 0.12rem 0.15rem;
    line-height: 1;
    margin-right: 0.5rem;
}

/**page 2**/
.recruitment .page-2 h1,
.recruitment .page-3 h1,
.recruitment .page-4 h1 {
 	top: 7rem;
	left: 1.4rem;
 	margin-top: 0;
}
.abs p {
	margin-bottom: 0.15rem;
}
.text2-1,.text3-1,.text4-1 {
	left: 1.4rem;
    right: 0.8rem;
	top: 9.5rem;
	font-size: 0.75rem;
}
/**page 3**/

/**page 4**/

@media only screen and (max-height: 550px) {
	.swiper-container-horizontal>.swiper-pagination-bullets{
	    bottom: 5.6rem;
	}
	.img1-1 {
		top: 4.2rem;
	}
	.img1-2 {
		top: 12.5rem;
	}
	.text1-1 {
		top: 15.8rem;
	}
	.joinMember {
		bottom: 2.5rem;
		}
	.recruitment .page-2 h1, .recruitment .page-3 h1, .recruitment .page-4 h1 {
		top: 5rem;
	}
	.text2-1, .text3-1, .text4-1 {
		top: 7rem;
	}
	.recruitment h1 {
    		margin-top: 4rem;
    }
    .recruitment h4 {
	    margin-top: 1.5rem;
	    margin-bottom: 1rem;
	}
}
.modal-button.active-state, html:not(.watch-active-state) .modal-button:active {
    background: #E4022C;
    color: #FFFFFF;
}