p {
	font-size: 0.56rem;
	line-height: 1.5;
}

.showlist {
	position: relative;
}

.showlist .chapter {
	margin-bottom: 0;
}

.showlist .topic {
	height: 3rem;
}

.storeList.listPage p {
	line-height: 1.8;
}

.showlist .topic h1 {
	font-family: Arial-Black, "arial black", arial;
	font-size: 0.9rem;
	width: 100%;
	padding-top: 1rem;
	padding-left: 1.5rem;
	height: 3rem;
	font-weight: bold;
}

.showlist .chapter {
	padding: 0;
	margin-left: -0.375rem;
	margin-right: -0.375rem;
}


/*.showlist .chapter .Exhibitions:nth-child(4n+1),*/


/*.showlist .chapter .Exhibitions:first-child,*/


/*.showlist .chapter .store:first-child {
	margin-left: 50%;
}*/


/*.showlist .chapter .Exhibitions:nth-child(4n) {
	margin-right: 409px;
}*/

.showlist .Exhibitions,
.showlist .store {
	width: 50%;
	display: inline-block;
	padding: 0 0.375rem;
	margin-bottom: 0.75rem;
	vertical-align: top;
}

.chapter dl,
.Exhibitions dl {
	cursor: pointer;
}

.showlist dt {
	background: #1A1A1A;
	color: #FFFFFF;
	height: 1.1rem;
	line-height: 1.1rem;
	padding: 0 0.5rem;
}

.showlist dt b {
	font-size: 0.54rem;
	font-weight: normal;
	margin-right: 10px;
}

.showlist dt span {
	font-size: 14px;
	font-weight: normal;
}

.showlist dd img {
	width: 100%;
}

.showlist dd.tMain {
	font-size: 0.7rem;
	margin-top: 0.5rem;
}

.showlist dd.tGrey {
	font-size: 0.56rem;
	margin-top: 0.15rem;
}

.showlist dd {
	position: relative;
	overflow: hidden;
}

.showlist dd .bg {
	position: absolute;
	height: 100%;
	width: 100%;
	color: #FFFFFF;
	bottom: -100%;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
}

.showlist dd .bg p {
	margin-top: 180px;
	margin-bottom: 20px;
	font-size: 20px;
}

.showlist dd .bg p,
.showlist dd .bg small {
	padding: 0 30px;
}

.showlist h2 {
	position: absolute;
	top: 2.8rem;
	padding-left: 1.5rem;
	width: 5.2rem;
	line-height: 1.1rem;
	font-size: 0.7rem;
}

.past .showlist:first-child h2 {
	top: 3.75rem;
}

.past .showlist:not(:first-child) .topic {
	height: 0.2rem;
}


/*.past .topic {
	position: relative;
	width: 379.95px;
     height: 788px;
    display: inline-block;
    float: left;
}*/

#past {
	overflow-y: auto;
	overflow-x: hidden;
}

.past .detailBox {
	float: left;
}

.past .showlist {
	float: left;
}

.past .showlist .chapter {
	float: left;
}

.past .showlist .Exhibitions:first-child {
	margin-left: 50%;
}


/*
.past .showlist .chapter .Exhibitions:nth-child(4n+1) {
    margin-left: 0;
}
.past .showlist:nth-child(2n+1) .Exhibitions:nth-child(2n+1) {
	margin-left: 409px;
}
.past .showlist:nth-child(2n) .Exhibitions:nth-child(2n) {
	margin-right: 409px;
}
.past .showlist:nth-child(2n) h2 {
	right: 80px;
	left: auto;
}
.past .showlist:nth-child(2n) .topic {
	width: 100%;
}
.past .showlist .Exhibitions:nth-child(4n+1) {
    margin-left: 0;
}
.past .showlist .Exhibitions:nth-child(4n) {
    margin-right: 0;
}
.past .showlist:nth-child(2n+1) .Exhibitions:nth-child(2n+1) {
	margin-left: 409px;
}
.past .showlist:nth-child(2n) .Exhibitions:nth-child(2n) {
	margin-right: 409px;
}*/

.listPage h1.title {
	font-size: 1rem;
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.listPage h1.title+p {
	line-height: 22px;
}

.storeList .store {
	vertical-align: top;
}

.storeList .showlist dd img {
	width: 100%;
}

.storeList dd.name {
	padding: 0.5rem 0 0;
	font-size: 0.6rem;
}

.storeList dd.price {
	padding-top: 0.25rem;
	font-size: 0.56rem;
	font-weight: bold;
	color: #E4022C;
}

.storeList dd.info p+p {
	margin-top: 20px;
}

.storeList dd.info span {
	display: block;
}

.storeInfo .newsTop {
	overflow: auto;
	padding-right: 0;
}

.storeInfo .newsTop>img {
	width: 50%;
	float: left;
}

.storeInfo .newsTop h1,
.storeInfo .newsTop h2 {
	width: calc(50% - 0.75rem);
	float: left;
	margin-left: 0.75rem;
}

.storeInfo .newsTop .showinfo {
	float: left;
	margin-left: 0.75rem;
}

.storeInfo .newsTop h1 {
	margin-top: 0;
	font-size: 0.7rem;
}

.storeInfo .newsTop h2 {
	margin-bottom: 0;
	font-size: 0.56rem;
	line-height: 1.4;
}

.storeInfo .showinfo:after {
	width: 580px;
}

.storeInfo .newsTop .showinfo {
	height: auto;
	padding-top: 0.75rem;
	font-weight: bold;
}

.storeInfo .newsTop .showinfo:after {
	content: none;
}

.storeInfo .detailBox>.intro {
	position: relative;
	padding: 1.25rem 0;
}

.storeInfo .detailBox>.intro img {
	max-width: 100%;
}

.storeInfo .detailBox>.intro:before,
.storeInfo .detailBox>.intro:after {
	content: "";
	position: absolute;
	display: block;
	height: 0.1rem;
	width: 1.3rem;
	background: #1A1A1A;
}

.storeInfo .detailBox>.intro:before {
	left: 0;
	top: 0;
}

.storeInfo .detailBox>.intro:after {
	right: 0;
	bottom: 0;
}

.storeInfo .detailBox>.intro>p {
	text-align: center;
}

.storeInfo .detailBox>.intro>p+p {
	margin-top: 1rem;
}

.educationIndex {
	position: relative;
}

.educationIndex .topic {
	top: 0.75rem;
	height: 7.35rem;
	position: absolute;
}

.educationIndex .chapter {
	padding: 0.75rem 0;
}

.educationIndex .detailBox+.detailBox {
	border-top: 1px dashed #E7E7E7;
}

.past .showlist:nth-child(2n+1) .education {
	text-align: right;
}

.past .showlist:nth-child(2n) .education {
	text-align: left;
}

.educationIndex .showlist .chapter {
	margin-left: 0;
	margin-right: 0;
}

.educationIndex .showlist h2,
.educationIndex .showlist:first-child h2 {
	font-size: 0.6rem;
}

.educationIndex .showlist h2 {
	width: 3rem;
	padding-top: 0.25rem;
	line-height: 1.1;
}

.educationIndex .showlist h1 {
	font-size: 0.75rem;
	width: auto;
	padding-top: 1.25rem;
}

.educationIndex .showlist h1,
.educationIndex .showlist h2 {
	padding-left: 0.75rem;
}

.educationIndex .showlist:nth-child(2n+1) h2 {
	left: 0;
}

.educationIndex .showlist:nth-child(2n) h1 {
	right: 0;
	left: auto;
	position: absolute;
	text-align: right;
}

.educationIndex .showlist:nth-child(2n) h2 {
	right: 0;
	text-align: right;
	left: auto;
}

.educationIndex .showlist .topic,
.educationIndex .showlist {
	width: 100%;
}

.education img {
	width: 81%;
}

.educationIndex .showlist h2:after {
	position: absolute;
	content: "";
	height: 0.1rem;
	top: 1.55rem;
	background: #1A1A1A;
	width: 1rem;
	right: -0.1rem;
}

.educationIndex .showlist:nth-child(2n) h2:after {
	top: 0.85rem;
	left: -0.1rem;
}

.educationIndex .education,
.educationIndex .topic {
	cursor: pointer;
}

.educationIndex .detailBox h1,
.educationIndex .detailBox h2,
.educationIndex .detailBox h2:after,
.educationIndex .detailBox img {
	-webkit-transition: all .5s;
	transition: all .5s;
}

.academicIndex .showlist:nth-child(2n+1) h2 {
	top: 2.25rem;
}

.educationIndex ul.sec {
	height: 6rem;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 0.75rem;
	position: relative;
}

.educationIndex ul.sec:before {
	content: "";
	position: absolute;
	top: -1.5rem;
	right: 1.25rem;
	height: 1.5rem;
	width: 0.1rem;
	background-color: #1A1A1A;
}

.educationIndex ul.sec li {
	width: 81%;
	height: 1.5rem;
	line-height: 1.5rem;
	display: block;
	background-color: #FFFFFF;
	margin-left: 19%;
	font-size: 0.54rem;
	border-top: 1px dotted #E7E7E7;
}

.academicList .chapter .Exhibitions:nth-child(4n+1) {
	margin-left: 0;
}

.academicList .Exhibitions dd {
	overflow: hidden;
}

.academicList .Exhibitions dd img {
	-webkit-transition: all .5s;
	transition: all .5s;
}

.academicList .Exhibitions dd:first-of-type {
	background: #E9E9E9;
	border: 1px solid #EBEBEB;
}

.publicationList .showlist dd img {
	max-height: 379.95px;
}

.storeOr {
	width: 100%;
}

.storeOr dt {
	font-size: 0.6rem;
	color: #999999;
	margin-top: 10px;
	font-weight: normal;
}

.storeOr b {
	font-size: 0.54rem;
}

.storeOr img {
	width: 100%;
	display: inline-block;
}

.storeOr div {
	width: 3rem;
	display: inline-block;
	margin-top: 0.5rem;
	margin-right: 0.3rem;
	text-align: center;
}

.storeList.listPage .topic {
	height: 2.5rem;
}

.storeList.listPage .topic h1 {
	font-size: 0.78rem;
	padding-top: 0.8rem;
	padding-left: 1rem;
}

.logo-top {
	height: 2.7rem;
	width: 3.5rem;
	margin-left: 0.75rem;
	background: url(../img/logo-nav.png) no-repeat center;
	background-size: contain;
}

.ticketFace {
	width: 64%!important;
	margin-left: 18%;
	margin-top: 10%;
	margin-bottom: 5%;
}

.orderTicket {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0.5rem 0.75rem;
	text-align: center;
	z-index: 10;
	background: #FFFFFF;
	box-shadow: 0.05rem 0.05rem 0.6rem rgba(0, 0, 0, 0.2);
}

.orderTicket a.btn {
	width: 100%;
	padding: 0.35rem;
}

.ticket-container .showinfo:after {
	content: none;
}

.topicText {
	font-size: 0.8rem;
	line-height: 1rem;
	color: #333333;
}

.topicText .fr {
	font-size: 0.7rem;
}
.topicText .fr span,
.time-box a {
	display: inline-block;
	position: relative;
	padding-left: 1rem;
}
.topicText .fr span::before,
.time-box a::before {
	content: "";
	display: block;
	width: 0.35rem;
	height: 0.35rem;
	border-radius: 1rem;
	position: absolute;
	left: 0.48rem;
	top: 0.35rem;
}

@media only screen and (max-width: 330px) {
	
	.topicText {
		font-size: 0.7rem;
	}
	
	.topicText .fr {
		font-size: 0.6rem;
	}
	.topicText .fr span,
	.time-box a {
		padding-left: 0.8rem;
	}
	.topicText .fr span::before,
	.time-box a::before {
		left: 0.28rem;
	}

}


.topicText .fr span.able::before,
.time-box .able a::before {
	background: #2AC845;
}

.topicText .fr span.disable::before,
.time-box .disable a::before {
	background: #BDBDBD;
}

.layui-laydate,
.layui-laydate-hint {
	box-shadow: none!important;
}

.laydate-theme-molv .layui-laydate-content {
	border-bottom: 1px solid #e2e2e2!important;
}

.time-box {
	border: 1px solid #e2e2e2;
	margin-top: 0.5rem;
	text-align: center;
	line-height: 1.9rem;
	font-size: 0.75rem;
}

.time-box>div {
	display: block;
	height: 1.9rem;
	line-height: 1.9rem;
	font-size: 0.75rem;
	text-align: center;
	cursor: pointer;
}
.time-box>div:first-child {
	border-bottom: 1px #e2e2e2 solid;
}
.time-box>div:only-child {
	width: 100%;
	border-bottom:none;
}

.time-box a>span {
	font-size: 0.65rem;
}

.time-box a::before {
	top: 50%;
	margin-top: -0.2rem;
}

.time-box .able a {
	color: #000;
}

.time-box .disable a {
	color: #999;
}

.time-box>div.on {
	background-color: #2196f3;
	height: 2.5rem;
	line-height: 2.5rem;
}
.time-box .on a::after {
	content: "";
	display: inline-block;
	width: 0.45rem;
	height: 0.8rem;
	transform: rotate(40deg) translateY(-0.2rem);
	-webkit-transform: rotate(40deg) translateY(-0.2rem);
	border-right: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}

.time-box>div.on a {
	color: #FFFFFF;
}

.getReserve {
	padding: 1.25rem 0;
}

.getReserve .btn {
	padding: 0.45rem;
	font-size: 0.75rem;
	letter-spacing: 2px;
}

.res_box {
	background: #FFFFFF;
	margin-top: 0.65rem;
}

.res_box .getReserve {
	padding: 1.5rem 0 2rem;
}

.res_box h2 {
	font-size: 0.75rem;
	font-weight: normal;
	text-align: center;
	padding: 2rem 0.75rem 0;
}

.space-top {
	height: 4rem;
	background: #000000;
}

.bg-top {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 5rem;
	z-index: 0;
}

.logo-top.logo-top-white {
	position: fixed;
	width: 3.5rem;
	top: 0;
	left: 0;
	background: url(../img/logo-xzl.png) no-repeat center;
	background-size: contain;
	z-index: 0;
}

.ticket-list {
	margin-top: -1.3rem;
}

html.bg-grey,
body.bg-grey {
	height: auto;
	min-height: 100%;
	background: #F6F6F6;
}

.ticketlist .a_tick {
	width: 100%;
	height: 4.3rem;
	background: rgba(255, 255, 255, 1);
	border-radius: 0.3rem;
	margin: 0.6rem 0;
}

.ticketlist .a_tick:first-child {
	margin-top: 0
}

.a_tick>div {
	float: left;
	height: 4.3rem;
	padding: 0.7rem 0 0 0.5rem;
	text-align: center;
}

.a_tick>div .face {
	width: 3rem;
	height: 2.9rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.a_tick>div:first-child {
	width: 3.5rem;
}

.a_tick>div:last-child {
	width: 4rem;
	position: relative;
	background: url(../img/ticket/tick_bg.png) no-repeat left;
	background-size: contain;
}

.a_tick>div:nth-child(2) {
	width: calc(100% - 7.5rem);
	padding-left: 0.5rem;
}

.a_tick .tit,
.a_tick .det,
.a_tick .lim {
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: 1.1;
	text-align: left;
}

.a_tick .tit {
	font-size: 0.75rem;
	color: rgba(0, 0, 0, 1);
	line-height: 1.4;
	margin-top: -0.1rem;
	height: 1rem;
}

.a_tick .det {
	font-size: 0.65rem;
	padding-top: 0.4rem;
	color: #0570c6;
}
.a_tick .det.or {
	color:#ff5722
}
.a_tick .det.gr {
	color:#999999
}

.a_tick .lim {
	font-size: 0.5rem;
	color: #999999;
	padding-top: 0.31rem;
}

.a_tick .btn {
	width: 2.75rem;
	height: 1.25rem;
	border-radius: 0.625rem;
	color: #333333;
	font-size: 0.6rem;
	line-height: 1.25rem;
	text-align: center;
	float: right;
	margin-right: 0.5rem;
	margin-top: 0.8rem;
	padding: 0;
	border: none;
}

.a_tick .btn.btn-primary {
	background: #0570c6;
	color: #ffffff;
}

.a_tick .btn.btn-orange {
	background: #ff5722;
	color: #ffffff;
}

.a_tick .btn.btn-grey {
	background: #999999;
	color: #ffffff;
}

.coupon-detail,.coupon-intro {
	width: calc(100% - 1.5rem);
	margin: 0.75rem;
	background: #ffffff;
	border-radius: 0.5rem;
	padding: 0.75rem;
}
.coupon-detail .tit,
.coupon-intro .tit {
	padding: 0.75rem 0;
	font-size: 0.75rem;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	text-align: center;
}
.coupon-info .tit {
	padding: 0 0 0.75rem;
}
.coupon-detail .orcode {
	width: 10rem;
	height: 10rem;
	margin: 0 auto 1.5rem;
	box-sizing: border-box;
	border: 1px solid #D7D7D7;
	padding: 0.5rem;
}
.coupon-detail .orcode img {
	width: 100%;
	height: 100%;
}
.coupon-detail dl {
	margin-bottom: 0.75rem;
	display: flex;
}
.coupon-detail dt,
.coupon-detail dd {
	display: initial;justify-content:space-between
}
.coupon-detail dt {
	white-space: nowrap;	
	font-size: 0.7rem;
	padding-left: 0.5rem;
	position: relative;
	margin-bottom: 0.2rem;
}
.coupon-detail dt::before {
  position: absolute;
  top: 0.2rem;
  left: 0;
  width: 0.15rem;
  height:0.6rem;
  background:#0570c6;
  content: "";
  display: block;
}
.coupon-detail dd {
	width: 100%;
	padding-left: 0.5rem;
	color: #615f5f;
	font-size: 0.65rem;
	text-align: right;
	
}
.coupon-detail dd span {
	line-height: 1.6;
}
.coupon-info p {
	font-size: 0.65rem;
}
.detail-top {
	font-size: 0.85rem;
	padding-top: 0.8rem;
	padding-left: 0.75rem;
}
.popModal-buttons.btl .popModal-button {
	width: 50%;
	display: inline-block;
	cursor: pointer;
}
.popModal-buttons.btl .popModal-button.popModal-button-grey {
	background-color: #d1d1d1;
	color: #333333;
}
.bannerimg {
	margin: 0 -0.75rem;
	height: 5rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.bannerimg div {
	position: absolute;
	bottom: 0.4rem;
	right: 0.75rem;
	color: #FFFFFF;
	font-size: 0.65rem;
	background: rgba(0,0,0,0.6);
	padding: 0.2rem 0.5rem;
	border-radius: 0.5rem;
}
.cgReserv {
	text-align: right;
	margin: -0.75rem 0 0.75rem;
}
dl dd.price> span {
	font-weight: 500;
	padding-left: 0.25rem;
}
dl dd.price> span:first-child {
	text-decoration: line-through;
	color: #999999;
}

dl dd.price> span:last-child {
	color: #333333;
}

.total + .h100 {
	height: 2.1rem;
}
.total + .h100 + .h100 {
	display: none;
}